
    <div class="container">
  <div class="row">
    {{!-- <h1>{{{Dinner and Movie}}}</h1> --}}
    <h1>Drink & a movie</h1>
  </div>
  <div class="col">
    {{!-- <h2>{{{Dinner}}}</h2> --}}
  </div>
   <div class="col">
    {{!-- <h2>>{{{Movie}}}/></h2> --}}
  </div>
</div>

