<div class="card" style="width: 25rem" >
            <h1>Movie</h1>
            <form method="post">
                <label>Movie Genre:</label>
                <select id="genreList">
                <option>Choose </option>
                <option>action</option>
                <option>adventure</option>
                <option>animation</option>
                <option>comedy</option>
                <option>crime</option>
                <option>documentary</option>
                <option>drama</option>
                <option>family</option>
                <option>fantasy</option>
                <option>history</option>
                <option>horror</option>
                <option>music</option>
                <option>mystery</option>
                <option>romance</option>
                <option>science fiction</option>
                <option>tv movie</option>
                <option>thriller</option>
                <option>war</option>
                <option>western</option>
                </select>
                <br>
                <label for="year">Movie's Made In</label>
                <input type="text" id="year" name="year" placeholder="Ex: 1999"><br>
                <label for="runtime">Movie Runtime (Minutes):</label>
                <input type="number" id="runtime" name="runtime" placeholder="Ex: 90"><br>
                <button id="movie-btn">Submit</button>
                <div class="modal">
                    <h2>Error!</h2>
                    <p>Please fill in all text fields</p>
                    <button id='close-btn'>Close</button>
                </div>
            </form>
            <ul id="movie-list">

            </ul>

            <div class="card"></div>
        </div>
