<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinner & Movie</title>
     <script src=>"https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"</script>
</head>
<body>
    <div class="container">
  <div class="row">
    <h1>{{{Dinner and Movie}}}</h1>
  </div>
  <div class="col">
    <h2>{{{Dinner}}}</h2>
  </div>
   <div class="col">
    <h2>>{{{Movie}}}/></h2>
  </div>
</div>

    
</body>
</html>