body{
  background-color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card, .card_item {
  padding: 20px;
}

.description, .description-user {
  font-size: 15px;
}

.modal {
  display: none;
  position: fixed;
  background: darkred;
  padding: 10px;
  width: 260px;
  top: 100px;
  left: calc(50% - 140px);
  z-index: 1;
  border-radius: 10px;
}

.title, .description-user {
  padding-left: 20px;
}

#accout-name {
  font-size: 3rem;
}

.no-button {
  transition: 0.3s;
  background-color: #008CBA;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 15px;
  cursor: pointer;
}

.no-button:hover {
  background-color: whitesmoke;
  color: #008CBA;
}
