body{
  background-color: rgb(204, 201, 197);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header, span, .project:not(:last-child) {
  border-bottom: 1px solid rgb(235, 23, 23);
  color: rgb(19, 158, 112);
}
form,ul {
  background-color:rgb(164, 164, 196);
  
}

.modal {
  display: none;
  position: fixed;
  background: darkred;
  padding: 10px;
  width: 260px;
  top: 100px;
  left: calc(50% - 140px);
  z-index: 1;
  border-radius: 10px;
}

/* #joke-label {
  width: 80%
} */

